name: push
on: push
jobs:
  yc-deploy:
    name: Deploy to Yandex Cloud
    runs-on: ubuntu-latest
    steps:
      - uses: yc-actions/yc-sls-function@v2
        with:
          yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}
          folder-id: ${{ secrets.YC_FOLDER }}
          service-account: ajerle0o3vucuodpcoqe
          function-name: 'what-to-watch-bot-serveless'
          runtime: 'golang118'
          entrypoint: 'handler.Handler'
          network-id: enp43oc6r9biomtgd64e
          include: '..'
          environment: | 
            PG_DB=db1
            PG_HOST=c-c9qhuo07tkrq5iljhm6a.rw.mdb.yandexcloud.net
            PG_PORT=6432
            PG_USER=dkonasov
            REDIS_URL=rc1b-40gcw7ys62ej6o5p.mdb.yandexcloud.net:6379
          secrets: |
            TOKEN=e6q8j79rhn3kppgu3fgm/e6qb0lc8p484n9f0vq7d/WHAT_TO_WATCH_BOT_TOKEN
            REDIS_PASSWORD=e6qr7m3l78mtmfs7talc/e6qsocdrgfukpv7ec5d1/REDIS_PASSWORD
            PG_PASSWORD=e6qr7m3l78mtmfs7talc/e6qsocdrgfukpv7ec5d1/POSTGRES_PASSWORD
